
html{
    --primaire:#0065FC;
    --secondaire: #DEEBFF;
    --fond: #F2F2F2;
    --gris: #D9D9D9;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    max-width: 1400px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}

.navbar{
    display: flex;
    justify-content: space-between;

}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    cursor: pointer;
}

.bloc-elem{
    display: flex;
}

#logo {
    width: 60px;
    padding: 50px 0 50px 0;
} 

.nav-elem {
    text-decoration: none;
    padding: 50px;
    color: black;
    border-top: 3px solid transparent;
}

.nav-elem:visited{
    color: black;
    text-decoration: none;

}

.nav-elem:hover {
    border-top-color: var(--primaire);
    color: var(--primaire);
}

.titre-filtres{
    padding: 0 10px 0 10px;
}
.titre-site{ 
    margin: 10px 0 0 0;
    font-size: 1.35em;
}

.description{ 
    margin: 10px 0 10px 0;
}

.section1{
    display: flex;
    flex-direction: column;

}


form{
    display: flex;
    padding: 5px 0 5px 0;
    margin-bottom: 20px;

}
.i-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    background-color: var(--fond);
    border-radius: 14px 0 0 14px;
}
  
form input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    border: 1px solid var(--fond);
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px;
    
}


form button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    background-color: var(--primaire);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.15em;
    padding: 15px;
    cursor: pointer;
}

form input:hover{
    box-shadow: 1px 1px 1px var(--gris);
}
form button:hover {
    box-shadow: 1px 1px 1px black;
    /* transform: scale(1.01); */
    /* transition: all 0.1s; */

}

.fa-solid.fa-magnifying-glass {
    display: none;  
}

.filters {
    display: flex;
    margin-bottom: 25px;
}

.bloc-filtres{
    display: flex;
    width: 100%;
}
.grp-bloc{
    display: flex;
    flex-basis: 65%;
}
.bloc1, .bloc2{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;

}
.btn-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid var(--gris);
    border-radius: 30px;
    margin-right: 2px;
    height: 46px;
    cursor: pointer;
    padding-right: 6px;
}
.specify{
    min-width: 150px;
}

.btn-filter:hover{
    background-color: var(--secondaire);
    /* transform: scale(1.02); */
    /* transition: all 0.2s; */
}
  
.fa-heart, .fa-dog, .fa-money-bill-wave, .fa-child-reaching { 
    padding: 15px 5px 15px 15px;
    margin-right: 5px;
    color: var(--primaire);
}


#icon-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}  

.fa-info{
    border: 1px solid var(--gris);
    border-radius: 50%;
    margin-right: 10px;
    color: var(--primaire);
    padding: 10px;
}

.hebergements{
    display:flex
}
.heberge-marseilles{
    display: flex;
    flex-basis: 65%;
    flex-direction: column;
    background-color: var(--fond);
    border-radius: 15px ;
    margin-right: 10px;
}

.populaires{
    display: flex;
    background-color: var(--fond);
    border-radius: 15px ;
    margin-left: 10px;
}

.bloc-img-heberge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 } 

.card {
    background-color: white;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 0 8px var(--gris);
    margin: 0 10px 10px 10px;
}

.card img {
    border-radius: 16px 16px 0 0;
    height: 115px;
    width: 240px;
    object-fit: fill;
}
.card:hover {
    box-shadow: 0 0 6px var(--primaire);
    /* transform: scale(1.02); */
    /* transition: all 0.2s; */
    cursor: pointer;
}

.bleu {
    color: var(--primaire);
}
.gris {
    color: var(--fond);
}

div p, div h4{
    margin: 5px;
}

article h3{
    font-size: 1.3em;
    padding-left: 20px;
    margin: 35px 15px;
}

.fa-star{
    margin: 0;
    
}

.populaires {
    display: flex;
    flex-direction: column;
    background-color: var(--fond);
}
.populaires h3 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.popu-list {
    display: flex;
    flex-direction: column;
}

.card-popular {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin: 0 20px 20px 20px;
    box-shadow: 0 0 8px var(--gris);
}
.card-popular:hover {
    box-shadow: 0 0 6px var(--primaire);
    cursor: pointer;
    /* transform: scale(1.02); */
    /* transition: all 0.2s; */
}
.card-popular img {
    object-fit: fill;
    border-radius: 16px 0 0 16px;
    height: 135px;
    width: 130px;
    min-width: 130px;
}

.card-contenu {
    background-color: white;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.stars-bottom {
    margin-top: auto;
}


@media (max-width: 992px) { 
    .bloc-filtres{
        justify-content: flex-start;
        width: 100%;
    }
    .hebergements{
        flex-direction: column;

    }
}

@media (max-width: 768px) { 
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    #logo {
        padding: 20px 0 20px 0;
    } 
    .nav-menu{
        width: 100%;
        padding: 0;
    }
    .bloc-elem{
        width: 100%;
        text-align: center;
    }

    .nav-elem {
        flex-grow: 1;
        padding: 19px ;
        border-top: 0;
        border-bottom: 3px solid transparent;
    }
    .nav-elem:hover {
        border-bottom-color: var(--primaire);
    }

    form button {
        font-size: 1.4em;
    }
    
    .fa-solid.fa-magnifying-glass {
        display: flex;
    }   
    
    .recherche {
        display: none;
    }


    .filters{
        flex-direction: column;
        align-items: flex-start;
    }
    .bloc-filtres{
        margin-left: 10px;
    }
    .grp-bloc{
        flex-direction: column;
        flex-grow: 1;
    }
    .bloc1, .bloc2{
        justify-content: flex-start;
        flex-grow: 1;
        flex-wrap: wrap;
    }
    .btn-filter{
        flex-basis: 25%;
        justify-content: flex-start;
        margin: 5px;
        padding-right: 30px;
    }
    .btn-filter p{
        font-size: 0.65em;
        margin: 0;
        padding: 0;
    }
    .fa-heart, .fa-dog, .fa-money-bill-wave, .fa-child-reaching { 
        padding: 0 10px 0 10px;
        margin: 0;
        
    }
    .hebergements{
        flex-direction: column-reverse;

    }
    .specify{
        min-width: 0;
    }
    
}
